:root {
    --color: rgb(192, 192, 192);
}

body {
    background: rgb(24, 24, 24);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: #fff;
}