:root {
    --border-color: rgb(64, 64, 64);
    --box-color: rgb(224, 224, 224);
    --color: rgb(192, 192, 192);
    --primary-color: rgb(96, 0, 0);
    --secondary-color: rgb(16, 16, 16);
    --tertiary-color: rgb(20, 20, 20);
}

body {
    background: rgb(24, 24, 24);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: #fff;
}

header {
    align-items: center;
    background: var(--secondary-color);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    height: 10vh;
    padding: 8px 32px;
}

main {
    height: 90vh;
    margin: 0 auto;
    padding: 32px 0;
    width: 75%;
}

/* Home */
.description {
    background: var(--secondary-color);
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 16px;
    padding: 24px;
}

.description a {
    color: rgb(192, 0, 0);
    transition: 0.1s;
}

.description a:hover {
    color: rgb(255, 64, 64);
}

.characters {
    border-spacing: unset;
    width: 100%;
}

.characters th {
    background: var(--primary-color);
    color: var(--box-color);
    font-size: 32px;
    font-style: italic;
    padding: 16px;
    text-align: unset;
}

.characters a {
    display: inline-block;
    padding: 16px;
    width: 100%;
}

.characters td {
    background: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    font-size: 24px;
    font-weight: bold;
}

/* Button */
.btn {
    align-items: center;
    background: rgb(24, 24, 24);
    border: 1px solid var(--border-color);
    color: var(--color);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 8px;
    transition: 0.1s;
}

.btn:hover {
    background: var(--secondary-color);
}

.btn-container {
    display: inline-block;
}

/* Character */
.add-combo-btn-wrapper {
    margin-bottom: 16px;
    width: 100%;
}

.add-combo-btn-wrapper a {
    width: 100%;
}

.add-combo-btn {
    font-size: 24px;
    width: 100%;
}

.combo-type-btns {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
}

.combo-type-btns .btn:first-child {
    margin-right: 8px;
}

.combo-type-btns .btn {
    font-size: 24px;
    width: 50%;
}

.active-type {
    background: var(--primary-color);
    color: #fff;
    cursor: default;
}

.active-type:hover {
    background: var(--primary-color);
}

.combos {
    margin-top: 8px;
}

.combo-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.combo-wrapper .combo {
    margin-right: 8px;
    width: 100%;
}

.combo-wrapper .combo-btns * {
    width: 100%;
}

.combo-wrapper .combo-btns a {
    margin-bottom: 8px;
}

/* Combo */
.combo {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    display: flex;
    height: 90px;
    padding: 8px;
}

.combo-col-left {
    width: 90%;
}

.combo-col-right {
    align-items: center;
    display: flex;
    font-size: 24px;
    justify-content: center;
    width: 10%;
}

.combo-input-tags {
    display: flex;
    height: 50%;
}

.combo-input {
    font-size: 24px;
    width: calc((100% / 3) * 2);
}

.combo-tags {
    display: flex;
    width: calc(100% / 3);
}

.combo-tag {
    align-items: center;
    background: rgb(32, 32, 32);
    border-radius: 8px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 4px 8px;
}

.combo-tag:not(:last-child) {
    margin-right: 8px;
}

.combo-notes {
    font-size: 16px;
    height: 50%;
}

/* Combo Form */
.combo-form-page label {
    display: block;
    font-size: 20px;
    padding: 8px 0;
}

.combo-form-page-preview {
    margin-bottom: 16px;
}

.combo-form input, .combo-form textarea, .combo-form-type {
    background: var(--tertiary-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    color: var(--color);
    font-size: 20px;
    margin-bottom: 8px;
    padding: 8px;
}

.combo-form input:focus, .combo-form textarea:focus {
    outline: 1px solid var(--color);
}

.combo-form-input {
    height: 32px;
    width: 100%;
}

.combo-form-btns {
    padding: 16px 0;
}

.combo-form-btns .btn {
    display: inline-block;
    min-height: 48px;
    min-width: 48px;
}

.combo-form-btns .btn:not(:last-child) {
    margin-right: 16px;
}

.combo-form-notes {
    height: 128px;
    resize: none;
    width: 100%;
}

.combo-form-damage {
    height: 32px;
    width: 12.5%;
}

.combo-form-tags {
    margin-bottom: 8px;
}

.combo-form-tag {
    display: inline-block;
}

.combo-form-tag:not(:last-child) {
    margin-right: 16px;
}

.combo-form-active-tag {
    background: var(--secondary-color);
}

.combo-form-type {
    cursor: pointer;
}

.combo-form-footer {
    text-align: right;
}

.combo-form-footer .btn-container {
    margin-right: 16px;
}

.combo-form-footer .btn {
    font-size: 20px;
}